.navbar-bg {
    background-color: #9061F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    height: 200px;

}

.nav-text-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text-bg>div {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title span {
    color: #863BB4;
    font-size: 3rem;
    font-weight: bold;
}

.navbar-button button {
    background: rgb(138, 60, 180);
    background: linear-gradient(90deg, rgba(138, 60, 180, 1) 0%, rgba(209, 72, 164, 1) 100%);
    width: 160px;
    height: 60px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    color: white;
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.test {
    margin-top: -23rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlegod {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



.hello {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: auto;
}

.titlegod span {
    font-size: 3rem;
    font-weight: bold;
}

.titlegod b {
    font-size: 3rem;
    font-weight: bold;
    color: #863BB4;
}

.titlegod p {
    font-weight: bold;
    font-size: 1.5rem;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-cirlce {
    width: 64px;
    height: 64px;
    background-color: #863BB4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-middle {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90rem;
}

.home-card {
    width: 350px;
    height: 300px;
    margin: 1rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1rem;
}


.card-descript {
    color: rgb(144, 149, 155);
    margin-top: 1rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo {
    width: 900px;
    height: 200px;
    background-color: #9061F9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1F3C;
    padding: 1rem 8rem;
    margin-top: 2rem;
}

.footer-text {
    text-decoration: none;
    color: white;
}


.home-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.stats-icons {
    width: 50%;
}


.home-stats span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #A340AE;
    color: #A340AE;
    font-weight: bold;
    font-size: 2.5rem;
}


.stats-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.icons span {
    font-size: 1.3rem;
    margin-left: 1rem;
}


.home-logo img {
    margin-top: -2rem;
    width: 280px;
}

.newtext {
    width: 350px;
    margin-left: 6rem;
}

@media only screen and (max-width: 1500px) {
    .nav-text-bg {
        display: none;
    }

    .navbar-button {
        display: none;
    }

    .navbar-bg {
        padding: 1rem 2rem;
        height: 100px
    }

    .nav-title span {
        font-size: 1.5rem;
        color: white;
    }

    .test {
        margin-top: 0;
        flex-direction: column;
    }

    .hello img {
        width: 260px;
        margin-top: 1rem;
    }

    .titlegod span {
        font-size: 2rem;
    }

    .titlegod b {
        font-size: 2rem;
    }

    .titlegod p {
        font-size: 1rem;
    }

    .home-logo {
        flex-direction: column;
    }

    .stats-icons {
        padding: 0rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-logo img {
        margin-top: 0;
    }

    .home-logo {
        width: 400px;
        height: 700px;
        margin-left: -0.5rem;
    }

    .newtext {
        margin-left: 0;
    }

    .footer {
        padding: 1rem 2rem;
    }
}